/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@variants hover, focus, active {
  .text-common-dark {
    @apply text-gray-900;
  }
  .text-primary {
    @apply text-orange-500;
  }
  .text-primary-dark {
    @apply text-orange-600;
  }
  .text-primary-darker {
    @apply text-orange-700;
  }
  .text-secondary {
    @apply text-indigo-500;
  }
  .text-common {
    @apply text-gray-700;
  }
  .text-common-light {
    @apply text-gray-500;
  }
  .text-common-lighter {
    @apply text-gray-400;
  }
  .bg-primary {
    @apply bg-orange-500;
  }
  .bg-primary-light {
    @apply bg-orange-400;
  }
  .bg-primary-dark {
    @apply bg-orange-600;
  }
  .bg-primary-darker {
    @apply bg-orange-700;
  }
  .bg-secondary {
    @apply bg-indigo-500;
  }
  .border-primary {
    @apply border-orange-500;
  }
  .border-primary-dark {
    @apply border-orange-600;
  }
  .border-primary-darker {
    @apply border-orange-700;
  }
  .border-common {
    @apply border-gray-200;
  }
}

.font-primary {
  font-family: Montserrat,Arial,Helvetica,sans-serif;
}

* {
  @apply font-primary;
}


h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.8em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.6em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button:focus {
  outline:0;
}

/* custom scroll bar start  */

::-webkit-scrollbar {
  width: 8px
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  @apply bg-gray-400;
}

/* custom scroll bar end */


.underline-primary::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

.button-disabled span {
  display: none
}
.button-disabled i {
  display: block
}

/* react-modal ease animation start */
.ReactModal__Content {
  opacity: 0.25;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
}
/* react-modal ease animation end */




/* add custom component classes before utilities (tailwindcss suggestion) */
@tailwind utilities;